.songcard {
  font-family: 'Raleway', sans-serif;
  border: 2px solid black;
  margin: 10px;
  display: flex;
  width: auto;
  height: auto;
  padding: 10px;
}

/* .songtitle {
  font-size: 25px;
  width: 250px;
} */

/* .songartist {
  color: red;
} */

button {
  color: white;
  font-size: 15px;
  background: rgb(0, 110, 255);
  border: 1px solid black;
  border-radius: 15px;
  font-weight: bold;
}
