body{
  background:url('https://cdn3.vectorstock.com/i/1000x1000/43/72/music-note-background-white-vector-1174372.jpg')no-repeat
}
.App {
  text-align: center;
  
}
.logo{
 
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 25px;
  width: 160px;
  height: 40px;
  font-family: 'Courier New', Courier, monospace;
  margin-top:10px;

  
}

.lyricsInput {
  height: 30vh;
  word-wrap: break-word;
}


li{
  list-style: none;
  float: left;
  margin: 20px;
  font-weight: bold;
  color: white;
  
  

}
ul{
  border: 1px solid black;
  background-color: black;
  height: 60px;
}
img{
  width: 10px;
  height: 10px;
}